<!-- <div class="container text-center">
  <div class="col-xs-6 col-xs-offset-3">
    <h3>add a new listing</h3>
    <br>
    <form>
      <select onchange={{action 'showForm'}} class="form-control">
        <option disabled>choose type</option>
        {{#each model as |category|}}
          <option value={{category}}>{{category.name}}</option>
        {{/each}}
      </select>
    </form>
    <br>
    {{#if addListing}}
    <form>
      {{input class='form-control' value=address id="address" placeholder="address"}}
      <button class="btn btn-default" {{action 'mapMe'}}>get long and lat</button>

      <! {{input class='form-control' value=name id="name" placeholder="name"}}
      {{input class='form-control' value=image id="image" placeholder="image"}}
      {{input class='form-control' value=description id="description" placeholder="description"}}
      {{input class='form-control' value=phone id="phone" placeholder="phone"}}
      {{input class='form-control' value=price id="price" placeholder="price"}}
      {{input class='form-control' value=address id="address" placeholder="address"}}
      {{input class='form-control' value=hours id="hours" placeholder="hours"}}
      <button class="btn btn-default">submit</button> -->
    <!-- </form>
    {{/if}}



    {{address}}


  </div>
</div> --> -->
<h1>Geo Coordinates by Address v2</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>A BETTER WAY to get the latitude and longitude of an address using jQuery, and the <a href="https://github.com/ubilabs/geocomplete" target="_blank">geocomplete</a> plugin.</h4>
      <hr />
      <form id="property">
        <div class="form-group">
          <input type="text" name="name" class="form-control" id="address" placeholder="Address">
        </div>
        <button {{action 'mapMe'}}>submit</button>
        <div class="form-group">
          <input type="text" name="lat" class="form-control" placeholder="Latitude" readonly>
        </div>
        <div class="form-group">
          <input type="text" name="lng" class="form-control" placeholder="Longitude" readonly>
        </div>
      </form>
    </div>
  </div>
</div>
